body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  background: #f1f2ec;
  color: #333;
  padding-top: 0px;
}

header {
  background: #33327e;
  color: #f1f2ec;
  padding: 20px 0 10px;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
  position: relative;
}

section {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
}

h2 {
  color: #33327e;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
  text-decoration: underline;
  margin-left: 20px;
}

footer {
  background: #33327e;
  color: #f1f2ec;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

.member {
  margin: 10px 0;
}

.public-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #28a745;
  color: #f1f2ec;
  text-decoration: none;
  border-radius: 5px;
}

.public-btn:hover {
  background: #218838;
}

.btn {
  display: inline-block;
  background: #28a745;
  color: #f1f2ec;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

@media (max-width: 768px) {
  nav a {
    display: block;
    margin: 10px 0;
  }

  nav {
    padding: 10px;
  }
}