.person-img {
  height: 240px;
  width: auto;
  vertical-align: middle;
  margin-right: 10px;
}

li {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 30px;
}

.person-img img {
  height: 100%;
  width: auto;
  border-radius: 8px;
}

.texBlock {
  flex: 1;
}